Submarino!!!
<br/>
<br/>
<table>
<tr>
<td>
Yo
<br/>
&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;4
<form id="jugador">
1<input type="button" id="11" name="11" />
<input type="button" id="21" name="21" />
<input type="button" id="31" name="31" />
<input type="button" id="41" name="41" /><br/>
2<input type="button" id="12" name="12" />
<input type="button" id="22" name="22" />
<input type="button" id="32" name="32" />
<input type="button" id="42" name="42" /><br/>
3<input type="button" id="13" name="13" />
<input type="button" id="23" name="23" />
<input type="button" id="33" name="33" />
<input type="button" id="43" name="43" /><br/>
4<input type="button" id="14" name="14" />
<input type="button" id="24" name="24" />
<input type="button" id="34" name="34" />
<input type="button" id="44" name="44" />
</form>
</td>
<td width="100px"/>
<td>
CPU
<br/>
&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;4
<form id="oponente" action="/attack">
1<input type="button" id="o11" name="o11" />
<input type="button" id="o21" name="o21" />
<input type="button" id="o31" name="o31" />
<input type="button" id="o41" name="o41" /><br/>
2<input type="button" id="o12" name="o12" />
<input type="button" id="o22" name="o22" />
<input type="button" id="o32" name="o32" />
<input type="button" id="o42" name="o42" /><br/>
3<input type="button" id="o13" name="o13" />
<input type="button" id="o23" name="o23" />
<input type="button" id="o33" name="o33" />
<input type="button" id="o43" name="o43" /><br/>
4<input type="button" id="o14" name="o14" />
<input type="button" id="o24" name="o24" />
<input type="button" id="o34" name="o34" />
<input type="button" id="o44" name="o44" />
</form>
</td>
</tr>
</table>

<%= @mensaje %>
